---
import { getCollection } from 'astro:content';
import BaseLayout from '@src/layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import Ava from '@src/assets/img/ava.jpg';
import Prose from '@src/components/Prose.astro';
import { projects } from '../projects/projects';
import ProjectList from '@src/components/ProjectList.astro';
import SkillsList from '@src/components/SkillsList.astro';
import PostItem from '@src/components/PostItem.astro';
import { skills } from '../skills/skills.ts';
import { useTranslations } from '@src/i18n/index';
import { useContentTranslations } from '@src/i18n/translations';

type BlogPost = CollectionEntry<'blog'>;

const lang = 'en';
const t = useTranslations(lang);
const tc = useContentTranslations(lang);

const top6Projects = projects.slice(0, 6);
const top6Skills = skills.slice(0, 6);
const posts = (await getCollection('blog')).sort((a: BlogPost, b: BlogPost) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()).slice(0, 5);
---

<BaseLayout title={t('site.title') + ' - ' + t('site.tagline')} description={t('site.description')} lang={lang}>
	<div class='container'>
		<div class='w-full md:flex md:items-center gap-16 mb-10'>
      <div class="text-pretty leading-9">
        <h1 class="text-4xl font-bold mb-4">{tc('home.greeting')}</h1>
        <Prose>
          <div class="text-lg">
            <p>{tc('home.intro.p1')}</p>
            <p>{tc('home.intro.p2')}</p>  
          </div>
        </Prose>
      </div>
      <Image src={Ava} alt="Kevin Barroso" width={300} loading="eager" class="rounded-3xl rotate-3 mx-4 md:mx-0"/>
		</div>
		<main>
      <div class='mt-6 mb-12'>
        <div class="flex justify-between gap-2 border-b mb-1 dark:border-b-zinc-700">
          <h2 class="text-lg font-bold mb-3">{tc('home.recentPosts')}</h2>
          <a href="/en/posts/" class="inline-block py-2 underline dark:prose-invert">{tc('home.allPosts')} &raquo;</a>
        </div>
        <div>
          {
            posts.map((post: BlogPost) => (
              <PostItem post={post} lang={lang} />
            ))
          }      
        </div>
        <div class="text-right">
        </div>
      </div>
      <div class='mb-12'>
        <div class="flex justify-between gap-2 mb-1">
          <h2 class="text-lg font-bold mb-3">{tc('home.myProjects')}</h2>
          <a href="/en/projects/" class="inline-block py-2 underline dark:prose-invert">{tc('home.allProjects')} &raquo;</a>
        </div>
        <ProjectList projects={top6Projects}/>
      </div>
      <div>
        <div class="flex justify-between gap-2 mb-1">
          <h2 class="text-lg font-bold mb-3">{tc('home.mySkills')}</h2>
          <a href="/en/skills/" class="inline-block py-2 underline dark:prose-invert">{tc('home.allSkills')} &raquo;</a>
        </div>
        <SkillsList skills={top6Skills}/>
      </div>
		</main>
	</div>
</BaseLayout>
